<!--页面控制选项-->
<html>
<head>
<meta charset="utf-8">
<title>全站页面导航</title>
</head>
<style type="text/css">
	a{
		display:block;
		margin:20px auto;
		background-color: #84c0f1;
		width: 300px;
		text-decoration: none;
		height: 50px;
		font-size: 20px;
		line-height: 50px;
		text-align:center;
	}
</style>
<body>
<a href="/">页面导航</a>
<a href="/home" target="_blank">百度新闻主页</a>
<a href="/control" target="_blank">后台管理</a>
<a href="/login" target="_blank">后台管理登录</a>
<a href="/reg" target="_blank">注册</a>
</body>
</html>