.test{ background:url("../image/content/test.png") top left no-repeat; }
.test_r12_c1{ width:1920px; height:300px; background-position:-10px -10px; }
.test_r39_c36{ width:199px; height:256px; background-position:-10px -320px; }
.test_r41_c60{ width:38px; height:226px; background-position:-219px -320px; }
.test_r41_c32{ width:38px; height:226px; background-position:-267px -320px; }
.test_r38_c13{ width:335px; height:204px; background-position:-315px -320px; }
.test_r18_c2{ width:290px; height:105px; background-position:-660px -320px; }
.test_r65_c25{ width:187px; height:97px; background-position:-960px -320px; }
.test_r52_c34{ width:109px; height:90px; background-position:-1157px -320px; }
.test_r34_c2{ width:1000px; height:80px; background-position:-10px -586px; }
.test_r26_c43{ width:80px; height:63px; background-position:-1276px -320px; }
.test_r21_c32{ width:80px; height:63px; background-position:-1366px -320px; }
.test_r54_c32{ width:59px; height:51px; background-position:-1456px -320px; }
.test_r55_c58{ width:45px; height:45px; background-position:-1525px -320px; }
.test_r56_c47{ width:39px; height:41px; background-position:-1580px -320px; }
.test_r10_c1{ width:1920px; height:40px; background-position:-10px -676px; }
.test_r56_c39{ width:43px; height:38px; background-position:-1629px -320px; }
.test_r36_c2{ width:290px; height:37px; background-position:-1020px -586px; }
.test_r63_c2{ width:93px; height:35px; background-position:-1682px -320px; }
.test_r6_c27{ width:147px; height:34px; background-position:-1320px -586px; }
.test_r57_c54{ width:42px; height:33px; background-position:-1785px -320px; }
.test_r29_c49{ width:105px; height:33px; background-position:-1477px -586px; }
.test_r32_c49{ width:105px; height:33px; background-position:-1592px -586px; }
.test_r32_c33{ width:105px; height:33px; background-position:-1707px -586px; }
.test_r29_c33{ width:105px; height:33px; background-position:-1822px -586px; }
.test_r2_c26{ width:37px; height:33px; background-position:-1837px -320px; }
.test_r36_c11{ width:32px; height:32px; background-position:-1884px -320px; }
.test_r28_c15{ width:17px; height:23px; background-position:-10px -726px; }
.test_r3_c53{ width:13px; height:19px; background-position:-37px -726px; }
.test_r19_c24{ width:56px; height:18px; background-position:-60px -726px; }
.test_r49_c22{ width:30px; height:18px; background-position:-126px -726px; }
.test_r49_c18{ width:30px; height:18px; background-position:-166px -726px; }
.test_r15_c7{ width:16px; height:15px; background-position:-206px -726px; }
.test_r15_c20{ width:9px; height:15px; background-position:-232px -726px; }
.test_r14_c41{ width:16px; height:15px; background-position:-251px -726px; }
.test_r42_c3{ width:42px; height:13px; background-position:-277px -726px; }
.test_r42_c9{ width:42px; height:13px; background-position:-329px -726px; }
.test_r44_c3{ width:42px; height:13px; background-position:-381px -726px; }
.test_r7_c51{ width:18px; height:13px; background-position:-433px -726px; }
.test_r38_c3{ width:11px; height:11px; background-position:-461px -726px; }
.test_r24_c12{ width:379px; height:1px; background-position:-482px -726px; }

