.shop{ background:url("../image/shop.png") top left no-repeat; }
.购物站_r20_c4{ width:640px; height:270px; background-position:-10px -10px; }
.购物站_r33_c9{ width:191px; height:179px; background-position:-10px -290px; }
.购物站_r40_c2{ width:154px; height:143px; background-position:-211px -290px; }
.购物站_r36_c32{ width:97px; height:130px; background-position:-375px -290px; }
.购物站_r30_c30{ width:141px; height:107px; background-position:-482px -290px; }
.购物站_r15_c37{ width:640px; height:88px; background-position:-10px -479px; }
.购物站_r22_c2{ width:80px; height:80px; background-position:-10px -577px; }
.购物站_r28_c26{ width:37px; height:48px; background-position:-100px -577px; }
.购物站_r29_c2{ width:51px; height:48px; background-position:-147px -577px; }
.购物站_r23_c28{ width:31px; height:41px; background-position:-208px -577px; }
.购物站_r23_c17{ width:56px; height:41px; background-position:-249px -577px; }
.购物站_r22_c4{ width:45px; height:41px; background-position:-315px -577px; }
.购物站_r35_c24{ width:43px; height:40px; background-position:-370px -577px; }
.购物站_r13_c37{ width:37px; height:37px; background-position:-423px -577px; }
.购物站_r13_c31{ width:36px; height:36px; background-position:-470px -577px; }
.购物站_r24_c34{ width:42px; height:33px; background-position:-516px -577px; }
.购物站_r19_c8{ width:229px; height:27px; background-position:-10px -667px; }
.购物站_r2_c11{ width:92px; height:23px; background-position:-249px -667px; }
.购物站_r1_c16{ width:26px; height:20px; background-position:-568px -577px; }
.购物站_r1_c15{ width:26px; height:20px; background-position:-604px -577px; }
.购物站_r8_c36{ width:45px; height:19px; background-position:-351px -667px; }
.购物站_r4_c23{ width:56px; height:18px; background-position:-406px -667px; }
.购物站_r5_c36{ width:47px; height:15px; background-position:-472px -667px; }
.购物站_r5_c42{ width:47px; height:15px; background-position:-529px -667px; }
.购物站_r18_c8{ width:193px; height:13px; background-position:-10px -704px; }
.购物站_r6_c7{ width:11px; height:11px; background-position:-633px -290px; }
.购物站_r6_c3{ width:11px; height:11px; background-position:-586px -667px; }

