.index_width{ background:url("image/index_width.png") top left no-repeat; }
.index_width_r17_c21{ width:198px; height:70px; background-position:-10px -10px; }
.index_width_r17_c6{ width:184px; height:43px; background-position:-10px -90px; }
.index_width_r11_c9{ width:119px; height:40px; background-position:-10px -143px; }
.index_width_r10_c20{ width:104px; height:34px; background-position:-10px -193px; }
.index_width_r2_c2{ width:60px; height:25px; background-position:-139px -143px; }
.index_width_r2_c17{ width:20px; height:21px; background-position:-124px -193px; }
.index_width_r2_c12{ width:16px; height:16px; background-position:-154px -193px; }
.index_width_r3_c14{ width:16px; height:14px; background-position:-180px -193px; }
.index_width_r4_c8{ width:14px; height:14px; background-position:-10px -237px; }
.index_width_r12_c5{ width:15px; height:14px; background-position:-34px -237px; }
.index_width_r12_c3{ width:22px; height:13px; background-position:-59px -237px; }
.index_width_r4_c10{ width:16px; height:12px; background-position:-91px -237px; }

